.NewCourses {
  label {
    font-weight: bold;
    text-transform: capitalize;
  }
  .block-content {
    background-color: #ffffff;
    border-radius: 6px;
    border: 0.1px solid #1890ff;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
  }
  .ant-form {
    .course-header {
      display: flex;
      margin-bottom: 12px;
      .ant-form-item-label {
        margin-right: 16px;
      }
      .ant-form-item-control-wrapper {
        width: 50%;
        max-width: 301px;
        min-width: 250px;
      }
      &.descript {
        .ant-form-item-label {
          overflow: unset;
          margin-top: 16px;
        }
        .ant-form-item-control-wrapper {
          width: 100%;
          max-width: unset;
          min-width: 250px;
          margin-top: 25px;
        }
      }
    }
    .title-config {
      font-size: 20px;
      text-align: left;
      text-transform: uppercase;
      padding-bottom: 25px;
      color: #1890ff;
      display: flex;
      justify-content: space-between;
      .icon {
        margin-right: 24px;
        font-size: 14px;
        cursor: pointer;
        i {
          transition: 0.5s;
          &:hover {
            transition: 0.5s;
          }
        }
      }
    }
    .action-confirm {
      padding-top: 12px;
      margin-top: 24px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    .dayLearning {
      width: 75%;
      margin-bottom: 16px;
      .content {
        position: relative;
        margin: 0 20px;
        .ant-row {
          position: unset;
          .ant-form-item-control {
            position: unset;
            .ant-form-item {
              margin-bottom: 12px;
              display: flex;
              &-label {
                width: 20%;
                max-width: 250px;
              }
              &-control-wrapper {
                width: 60%;
                min-width: 600px;
              }
              label {
                font-weight: normal;
              }
            }
            .path {
              color: #1890ff;
              font-weight: 300;
              margin-bottom: 25px;
              a {
                cursor: unset;
                &:hover {
                  font-weight: 500;
                }
                &.path-element {
                  cursor: pointer;
                }
                &.path-current:hover {
                  font-weight: 300;
                }
              }
              .title {
                color: #002140;
                font-weight: 500;
                &:hover {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
    .handle {
      display: flex;
      button {
        font-size: 14px;
        line-height: 18px;
        padding: 8px;
        border-radius: 3px;
        cursor: pointer;
      }
      .remove {
        button {
          background-color: #fff;
          border: 0.5px solid #dc3545;
          color: #dc3545;
          font-weight: 500;
        }
      }
      .add-more {
        margin-left: 12px;
        button {
          background-color: #fff;
          border: 0.5px solid #42b983;
          font-weight: 500;
          color: #42b983;
        }
      }
    }
    .add-new-day {
      position: sticky;
      margin-bottom: 0;
      width: 100%;
      height: 64px;
      bottom: 0;
      left: 0;
      background: linear-gradient(#ffffff88, 25%, #F0F2F5);
      .ant-form-item-control {
        position: relative;
        .ant-form-item-children {
          width: 100%;
          position: absolute;
          .ant-btn {
            color: #002140;
            border-color: #002140;
            position: absolute;
            left: 50%;
            bottom: 15px;
            transform: translateX(-50%);
            transition: 0.1s;
          }
        }
      }
    }
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    .tree {
      overflow-y: auto;
      border-right: 0.5px solid #00214021;
      max-height: 600px;
      height: 500px;
      width: 25%;
      max-width: 300px;
      margin-bottom: 15px;
      position: relative;
      
      .he-tree {
        .tree-children {
          .tree-branch {
            border: 0.5px solid #188fffa2;
            margin: 0 6px 18px 0;
          }
          .tree-children {
            margin-left: 15px;
            .tree-branch {
              border: none;
              .tree-node-back {
                padding-right: 0 !important;
              }
            }
          }
        }
        .tree-node {
          border: none;
          text-align: left;
          padding: 0;
          margin-bottom: 0;
          .day {
            padding: 10px;
          }
          .day.active, .lession.active, .question.active {
            font-weight: bold;
            color: #1890ff;
          }
        }
      }
      .ant-form-item-children {
        height: 64px;
      }
    }
  }

  // ERROR
  .error {
    border: 1px solid red !important;
  }
  .errorNodeTree {
    color: red !important;
  }
}
