<div class="NewCourses">
  <a-form-model v-if="formNewData && listDataSubject" :model="formNewData">
    <div class="block-content">
      <div class="title-config">
        <span>course</span>
        <span class="icon" @click="clickCollapse()">
          <span v-if="expand == true">Collapse</span>
          <span v-else>Expand</span>
          <a-icon class="iconCollapse" type="right" style="transform: rotate(90deg);" />
        </span>
      </div>
      <a-row v-if="expand == true" type="flex" justify="space-between">
        <a-col :span="11">
          <a-form-model-item class="course-header" label="Subject">
            <a-select class="subject-name" v-model='originIndexSubject'>
              <a-select-option v-for="(subject, index) in listDataSubject" :key="index" :value="index" @click="clickSubject(index)">
                {{ subject.name }}
              </a-select-option>
            </a-select>
          </a-form-model-item>
        </a-col>
        <a-col :span="11">
          <a-form-model-item class="course-header" label="Course Name">
            <a-input class="course-name" v-model="formNewData.title" @input="formNewData.title = $event.target.value.toLowerCase()" placeholder="Please enter name course" />
          </a-form-model-item>
        </a-col>
        <a-col class="courseDes" :span="16">
          <a-form-model-item class="course-header descript" label="Course's Description">
            <ckeditor class="course-descript" v-model="formNewData.description" />
          </a-form-model-item>
        </a-col>
      </a-row>
      <a-row v-else style="margin-top: -12px;">
        <div class="subject" style="margin-bottom: 12px;">
          <label for="subject">Subject:</label>
          <span @click="clickCollapse()" style="padding-left: 5px; cursor: pointer;">
            <span v-if="formNewData.subjectId" style="color: #1890ff;">{{ listDataSubject[indexSubject].name }}</span>
            <span v-else style="color: red;">Enter Subject's name</span>
          </span>
        </div>
        <div class="course">
          <label for="course">Course:</label>
          <span @click="clickCollapse()" style="padding-left: 5px; cursor: pointer;">
            <span v-if="formNewData.title" style="color: #1890ff;">{{ formNewData.title }}</span>
            <span v-else style="color: red;">Enter Course's title</span>
          </span>
        </div>
      </a-row>
    </div>

    <div class="block-content">
      <div class="title-config">config course</div>
      <a-row type="flex">
        <div class="tree">
          <Tree :value="formNewData.dayLearning" edgeScroll>
            <span slot-scope="{node, index, path, tree}">
              <div v-if="path.length == 1" class="day" 
                v-bind:class="{ active: (indexCurrDay === index && currPath.length === 1) }" 
                @click="clickDay({index, path})" >
                <b @click="tree.toggleFold(node, path)">
                  <b v-if="node.$folded"><a-icon type="caret-right" /></b>
                  <b v-else><a-icon type="caret-down" /></b>
                </b>
                Day {{ index + 1 }}
              </div>
              <div v-else-if="path.length == 2" class="lession" 
                v-bind:class="{ active: (indexLession === index && currPath.length === 2 && indexCurrDay === path[0]) }" 
                @click="clickLession({index, path})" >
                <b @click="tree.toggleFold(node, path)">
                  <b v-if="node.$folded"><a-icon type="caret-right" /></b>
                  <b v-else><a-icon type="caret-down" /></b>
                </b>
                Lession {{ index + 1 }}
              </div>
              <div v-else class="question" 
                v-bind:class="{ active: (indexQuestion === index && currPath.length === 3 && indexCurrDay === path[0] && indexLession === path[1]) }" 
                @click="clickQuestion({index, path})" >
                Question {{ index + 1 }}
              </div>
            </span>
          </Tree>
          <a-form-model-item class="add-new-day">
            <a-button @click="addDay" :value="formNewData.dayLearning">
              <a-icon type="plus" />
              ADD NEW - DAY {{ formNewData.dayLearning.length + 1 }}
            </a-button>
          </a-form-model-item>
        </div>
        
        <a-form-model-item class="dayLearning">
          <day-learning 
            :currPath="currPath"
            :indexCurrDay="indexCurrDay" 
            :dayLearning="formNewData.dayLearning[indexCurrDay]" 
            :indexLession="indexLession"
            :lession="formNewData.dayLearning[indexCurrDay]?.children[indexLession]"
            :isRemoveDay="formNewData.dayLearning.length > 1"
            :indexQuestion ="indexQuestion"
            :question="formNewData.dayLearning[indexCurrDay]?.children[indexLession]?.children[indexQuestion]"
            @clickDay="clickDay"
            @clickLession="clickLession"
            @removeDay="removeDay" 
            @addLession="addLession" 
            @removeLession="removeLession"
            @addQuestion="addQuestion"
            @removeQuestion="removeQuestion"
          ></day-learning>
        </a-form-model-item>
      </a-row>
      
    </div>

    <a-row class="action-confirm" type="flex" justify="center">
      <a-button type="primary" @click="onSubmit">
        <span v-if="isCreate">Create Course</span>
        <span v-else>Update Course</span>
      </a-button>
    </a-row>
  </a-form-model>
</div>
