<div class="report_mentee">
  <div class="title">
    <span>Reports</span>
  </div>
  <div class="block option">
    <div class="choose_report">
      <label class="title_content">Report Day:</label>
      <a-date-picker 
        class="date_picker" 
        type="date" 
        placeholder="Pick a date"
        :disabled-date="disabledDate"
        v-model="formReport.date"
        @change="getReport"
      />
    
      <a-button class="new_report" type="primary" @click="showModal"> 
        <router-link to="new-report">New Report</router-link>
      </a-button>
    </div>
    <div class="choose_report">
      <label class="title_content">Mentor:</label>
      <a-select class="select_report_day" v-model="formReport.mentorId" @change="getReport">
        <a-select-option v-for="(item, index) of listMentor || []" class="item-report" :value="item.id" :key="index" >
          {{ item.firstname }} {{ item.lastName }}
        </a-select-option>
      </a-select>
    </div>
  </div>

  <div class="block content" v-if="reportDetail">
    <a-row class="report_content">
      <a-col :span="2" class="title_content">Your Report:</a-col>
      <a-col :span="12" class="your_report talk-bubble tri-right left-top">
        <div class="talktext">
          <p>{{ reportDetail.reportContent }}</p>
        </div>
      </a-col>
    </a-row>
    <a-row class="report_content" v-if="reportDetail?.repReport" >
      <a-col :span="3" class="title_content">{{ reportDetail.mentorId?.firstname }} {{ reportDetail.mentorId?.lastName }}<a>(Mentor)</a>:</a-col>
      <a-col :span="12" class="talk-bubble tri-right left-top round">
        <div class="talktext">
          <p>{{ reportDetail.repReport }}</p>
        </div>
      </a-col>
    </a-row>
  </div>
</div>