.challenge {
  .radio-block {
    display: flex;
    align-items: center;
    .eachRadio {
      display: flex;
      align-items: center;
      margin-right: 30px;
      input {
        margin-right: 4px;
      }
    }
  }
}