<div class="content">
  <a-form-model-item v-if="currPath.length == 1">
    <div class="path">
      <a class="title">Path: </a>
      <a class="path-current">Day {{ indexCurrDay + 1 }}</a>
    </div>
    <a-form-item label="Name">
      <a-input class="name-dl" v-model="dayLearning.name" placeholder="Please enter name of Day" />
    </a-form-item>
    <a-form-item label="Description">
      <ckeditor class="desc-dl" v-model="dayLearning.description"></ckeditor>
    </a-form-item>

    <div class="challenge">
      <a-form-item label="Has Challenge">
        <div class="radio-block">
          <div class="eachRadio">
            <input type="radio" :value="true" v-model="dayLearning.challenge.status" required>Yes
          </div>
          <div class="eachRadio">
            <input type="radio" :value="false" v-model="dayLearning.challenge.status" required>No
          </div>
        </div>
      </a-form-item>
      <div v-if="dayLearning.challenge.status == true">
        <a-form-item label="Type Challenge">
          <a-select class="typeChallenge" v-model="dayLearning.challenge.typeCh">
            <a-select-option v-for="(key, index) in enumType" :key="index" @click="typeOfChallenge(index)">
              {{ key }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="Topic">
          <ckeditor class="desc-dl" v-model="dayLearning.challenge.topic"></ckeditor>
        </a-form-item>
      </div>
    </div>

    <div class="handle">
      <div class="remove">
        <button v-if="isRemoveDay" @click="$emit('removeDay', dayLearning)">
          Remove Day {{ indexCurrDay + 1 }}
        </button>
      </div>
      <div class="add-more">
        <button class="add" @click="$emit('addLession')">
          Add Lession
        </button>
      </div>
    </div>
  </a-form-model-item>

  <a-form-model-item v-else>
    <lession
      :currPath="currPath"
      :indexLession="indexLession"
      :lession="lession"
      :indexCurrDay="indexCurrDay"
      :isRemoveLession="dayLearning.children.length > 1"
      :indexQuestion="indexQuestion"
      :question="question"
      @clickDay="$emit('clickDay', $event)"
      @clickLession="$emit('clickLession', $event)"
      @addQuestion="$emit('addQuestion', $event)"
      @removeQuestion="$emit('removeQuestion', $event)"
      @removeLession="$emit('removeLession', $event)"
    ></lession>
  </a-form-model-item>
</div>