<div id="forgot-password">
	<img class="wave" src="/assets/images/wave.png">
	<div class="container">
		<div class="img">
			<img src="/assets/images/bg.svg">
		</div>
		<div class="login-content">
			<form autocomplete="off" @submit="$event.preventDefault();handleSubmit()">
				<img src="/assets/images/avatar.svg">
				<h2 class="title">RESET PASSWORD</h2>
				<div class="input-div one">
					<div class="i"> <i class="fas fa-user"></i> </div>
					<div class="div">
						<h5>New Password</h5>
						<input type="password" v-model="form.password" class="input">
					</div>
				</div>
					<input type="button" :disabled="loading" class="btn" @click="$event.preventDefault(); handleSubmit()" value="Submit">
			</form>
		</div>
	</div>
</div>