<div class="course_lession">
  <div class="warning">
    <label>** Please RESEARCH and LEARN the knowledge mentioned in the description below</label>
  </div>
  <div class="block">
    <label>Topic: </label>
    <div class="content">{{ Lession.name }}</div>
  </div>
  <div class="block">
    <label>Description: </label>
    <div class="content">{{ Lession.description }}</div>
  </div>

  <a-button class="submit_button" type="primary" @click="showModal">
    Quiz
  </a-button>
  <a-modal v-model="visible" title="Quiz" @ok="handleOk">
    <template slot="footer">
      <a-button key="back" @click="handleCancel">
        Cancel
      </a-button>
      <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
        Submit
      </a-button>
    </template>
    <div>
      <quiz
        :Quiz="Lession.children"
      ></quiz>
    </div>
  </a-modal>
</div>