.course_quiz {
  .question {
    border: 0.5px solid #188fff2c;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 12px;
    .answer {
      padding-left: 32px;
      display: flex;
      label {
        width: 20%;
        min-width: 120px;
        font-weight: bold;
      }
      .answer_item {
        width: 80%;
      }
      .block_answer {
        display: flex;
        flex-direction: column;
        width: 80%;
        .answer_item {
          display: flex;
          align-items: center;
          padding-bottom: 8px;
          label {
            width: 100%;
            min-width: unset;
            font-weight: normal;
            padding-left: 12px;
          }
        }
      }
    }
  }
  .handle-action {
    .ant-form-item-control {
      display: flex;
      justify-content: center;
    }
  }
}