<div class="course_quiz">
  <template>
    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleSubmit">
      <div class="question" v-for="(question, index) in Quiz">
        <div class="block">
          <label>Question {{index+1}}: </label>
          <div class="content">{{ question.name }}</div>
        </div>
        <div v-if="question.type == 2">
          <div class="answer">
            <label>Your answer: </label>
            <div class="block_answer">
              <div class="answer_item" v-for="(item, indexAnswer) in question.answers">
                <input v-model="question.checkCorrect" type="radio" :id="item._id" :name="question.id" :key="indexAnswer" :value="indexAnswer">
                <label :for="item.answer">{{ item.answer }}</label><br>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="answer">
            <label>Your answer: </label>
            <div class="answer_item">
              <a-textarea v-model="question.answers[0].answer" :auto-size="{ minRows: 3, maxRows: 5 }"></a-textarea>
            </div>
          </div>
        </div>
      </div>
    </a-form>
  </template>
</div>