.courses_mentor {
  .choose_course {
    .field {
      margin-bottom: 16px;
      .title {
        color: #000000;
        font-weight: bold;
        margin-right: 24px;
      }
      .subject {
        width: 300px;
      }
    }
  }

  .block_parent {
    border: 0.5px solid lightblue;
    background-color: #ffffff;
    border-radius: 15px;
    border-top-left-radius: 0;
    padding: 16px;
    margin: 24px 0;
  }

  .show_data_mentor {
    display: flex;
    margin-top: 8px;
    .tree {
      overflow-y: auto;
      border-right: 0.5px solid #00214021;
      max-height: 600px;
      height: 500px;
      width: 25%;
      max-width: 300px;
      margin-bottom: 15px;
      position: relative;
      padding: 8px 0;

      .he-tree {
        .tree-children {
          .tree-branch {
            border: 0.5px solid #188fffa2;
            margin: 0 6px 18px 0;
          }
          .tree-children {
            margin-left: 15px;
            .tree-branch {
              border: none;
              .tree-node-back {
                padding-right: 0 !important;
              }
            }
          }
        }
        .tree-node {
          border: none;
          text-align: left;
          padding: 0;
          margin-bottom: 0;
          .day {
            padding: 10px;
          }
          .day.active,
          .lession.active,
          .quiz.active {
            font-weight: bold;
            color: #1890ff;
          }
        }
      }
      .ant-form-item-children {
        height: 64px;
      }
    }

    .right-handside {
      width: 75%;
      padding: 8px 16px;
      .course_day,
      .course_lession,
      .course_quiz {
        .warning {
          color: #dc3545;
          font-weight: bold;
          padding-left: 32px;
          padding-bottom: 20px;
          font-size: 15px;
        }
        .block {
          padding-bottom: 8px;
          padding-left: 32px;
          display: flex;
          label {
            width: 20%;
            font-weight: bold;
            color: #000000;
          }
          .content {
            width: 80%;
          }
        }
      }
    }
  }
}
