<div class="courses_mentor">
  <a-row class="block_parent choose_course">
    <a-col class="field" :span="10" :offset="2">
      <label class="title">Mentee:</label>
      <a-select class="subject">
        <a-select-option class="item-subject" v-for="(mentee, index) in listIntern" :key="index" @click="clickMentee({mentee,index})">
          {{ mentee.lastName + ' ' + mentee.firstname }}
        </a-select-option>
      </a-select>
    </a-col>

    <a-col class="field" :span="10">
      <label class="title">Subject:</label>
      <a-select class="subject">
        <a-select-option class="item-subject" v-for="(subject, index) in dataHandle" :key="index" @click="clickSubject({subject,index})">
          {{ subject.name }}
        </a-select-option>
      </a-select>
    </a-col>

    <a-col class="field" :span="10" :offset="2">
      <label class="title" style="margin-right: 28px;">Course:</label>
      <a-select class="subject">
        <a-select-option class="item-subject" v-for="(course, index) in dataCourse" :key="index" @click="clickCourse({course,index})">
          {{ course.title }}
        </a-select-option>
      </a-select>
    </a-col>
  </a-row>

  <!-- ------------------------------------------------------------ -->

  <div class="block_parent show_data_mentor" v-if="Course && checkShow">
    <div class="tree">
      <Tree :value="Course.dayLearning" edgeScroll>
        <span slot-scope="{node, index, path, tree}">
          <div v-if="path.length == 1" class="day" 
            v-bind:class="{ active: (indexCurrDay === index && currPath.length === 1) }" 
            @click="clickDay({index, path})" >
            <b @click="tree.toggleFold(node, path)">
              <b v-if="node.$folded"><a-icon type="caret-right" /></b>
              <b v-else><a-icon type="caret-down" /></b>
            </b>
            Day {{ index + 1 }}
          </div>
          <div v-else-if="path.length == 2" class="lession" 
            v-bind:class="{ active: (indexLession === index && currPath.length === 2 && indexCurrDay === path[0]) }" 
            @click="clickLession({index, path})" >
            Lession {{ index + 1 }}
          </div>
        </span>
      </Tree>
    </div>
  
    <div class="right-handside">
      <div v-if="currPath.length == 1">
        <day
          :Course="Course"
          :DayLearning="ObjectView"
          :DataX="dataGetOneAssign"
        ></day>
      </div>
      <div v-else-if="currPath.length == 2">
        <lession
          :Course="Course"
          :Lession="ObjectView"
          :DataX="dataGetOneAssign"
        ></lession>
      </div>
    </div>
  </div>
</div>