.dashboard_intern {
  .title {
    margin: 12px 12px 48px 12px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    color: coral;
    text-align: center;
    span {
      display: inline-block;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid coral;
        border-top: 1px solid coral;
        top: 21px;
        width: 150px;
      }
      &::before {
        right: 100%;
        margin-right: 15px;
      }
      &::after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }

  .item-subject{
    color: #000;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 25px 15px;
    border-radius: 10px;
    margin-bottom: 20px;

    p{
      margin: 0;
    }
  }

  .item-task{
    color: #000;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 15px;
    border-top-left-radius: 0;
    margin-bottom: 20px;
    .group-control.ant-row{
      display: flex;
      align-items: center;
    }
    p{
      margin: 0;
    }
    &.learning {
      border-color: burlywood;
    }
    &.report {
      border-color: cadetblue;
    }
  }

  .block {
    background-color:#ffffff;
    padding: 36px 16px 0 16px;
    margin-bottom: 48px;
    border-radius: 5px;
    border: 0.5px solid lightblue;
    position: relative;
    .item-subject {
      border-radius: 15px;
      border-bottom-right-radius: 0;
    }
    .sub-title {
      position: absolute;
      z-index: 1;
      padding: 6px 24px;
      border: 0.5px solid lightblue;
      border-radius: 5px;
      left: 16px;
      top: -24px;
      background-color: #ffffff;
      color: coral;
    }
  }
}
