<div class="dashboard_intern">
  <div class="title">
    <span>DASHBOARD</span>
  </div>

  <div class="block">
    <h2 class="sub-title">YOUR TASK TODAY</h2>
    
    <div class="item-task learning" v-for="(item, index) in notiCourse">
      <a-row class="group-control">
        <a-col :span="18" class="name">
          <p><strong>SUBJECT: </strong>{{ item.subject }}</p>
          <p><strong>COURSE: </strong>{{ item.course }}</p>
        </a-col>
        <a-col :span="6" class="recommended">
          <p>{{ item.content }}</p>
        </a-col>
      </a-row>
    </div>
    
    <div class="item-task report" v-for="(report, index) in notiReport">
      <a-row class="group-control">
        <a-col :span="24" class="name">
          <p>{{ report.content }}</p>
        </a-col>
      </a-row>
    </div>
  </div>

  <div class="block">
    <h2 class="sub-title">STATISTICS</h2>
    <div v-if="listInfo" class="item-subject" v-for="(course, index) in listInfo">
      <a-row class="group-control">
        <a-col :span="8" class="name">
          <p><strong>SUBJECT: </strong>{{ course.subject }}</p>
          <p><strong>COURSE: </strong>{{ course.course }}</p>
          <p class="status"><strong>Status: </strong>{{ course.isCompleted }}</p>
        </a-col>
        <a-col :span="8" class="info">
          <p><strong>Start Day: </strong>{{ course.start_day }}</p>
          <p><strong>Progress: </strong>{{ course.progress }}</p>
          <p><strong>Completion Rate: </strong>8.5</p>
          <p><strong>GPA: </strong>{{ course.gpa }}</p>
          <p><strong>Knowledge: </strong>{{ course.knowledge }}</p>
          <p v-for="(item, index) in course.subIndex">
            <strong>{{ item.name }}: </strong>{{ item.score }}
          </p>
        </a-col>
        <a-col :span="8" class="recommended">
          <p><strong>Recommended: </strong>{{ course.recommended }}</p>
        </a-col>
      </a-row>
    </div>
  </div>
</div>
