<div id="login-page">
	<img class="wave" src="/assets/images/wave.png">
	<div class="container">
		<div class="img">
			<img src="/assets/images/bg.svg">
		</div>
		<div class="login-content">
			<form autocomplete="off" @submit="checkForm" :model="form"> 
				<img src="/assets/images/avatar.svg">
				<h2 class="title">Welcome</h2>
				<div class="input-div one">
					<div class="i"> <i class="fas fa-user"></i> </div>
					<div class="div">
						<h5>Email</h5>
						<input type="text" class="input" v-model="form.email">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">  <i class="fas fa-lock"></i> </div>
					<div class="div">
						<h5>Password</h5>
						<input autocomplete="off" type="password" class="input" v-model="form.password">
					</div>
				</div>
				<router-link to="forgot-password">Forgot Password?</router-link>
				<input type="submit" class="btn">
			</form>
		</div>
	</div>
</div>