#components-layout-demo-custom-trigger {
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  .ant-layout-sider {
    .ant-layout-sider-children {
      .ant-menu {
        .ant-menu-item, .ant-menu-submenu-title{
          padding-left: 18px;
        }
        .ant-menu-submenu {
          .ant-menu-item {
            padding-left: 36px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

#header {
  background: #fff;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  background: #001529;

  .trigger {
    color: #fff;

    &:hover {
      color: #32be8f;
    }
  }

  .menu-top .ant-menu-item {
    border-width: 0 !important;
    background: #001529;
    top: 0;
    padding: 0 10px;
    color: #fff;
    width: 52px;
    text-align: center;
    i {
      margin: 0;
      color: #fff;
    }
    &:hover {
      background-color: #32be8f;
    }
  }
}

.drawer-avatar {
  width: 100% !important;
  height: 100px !important;
  padding: 5px !important;
  padding-top: 0 !important;
}

.ant-typography.h4 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
}

.txt-over {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.logout {
  display: block;
  text-align: left;
  margin-top: 5px;
}

#layout-content {
  margin: 24px;
  min-height: calc(100vh - 46px);
}

.menu_outside {
  position: relative;
  .logo {
    height: 40px;
  }
  .menu_sticky {
    position: sticky;
    top: 0;
    left: 0;
  }
}

#sign_out {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 70px;
  background: #002140;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: block;
    text-align: left;
    margin-top: 5px;
    color: bisque;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 22px;
  }
}
