<a-layout id="menu-side" style="min-height: 100vh">
  <a-layout-sider class="menu_outside" collapsible v-model="collapsed">
    <div class="logo" />
    <a-menu class="menu_sticky" id="menu_sticky" theme="dark" v-model="defaultKey" mode="inline">
      <a-menu-item id="menu_dashboard" key="1" v-if="checkRole(['Super Admin', 'Intern', 'Mentor'])">
        <router-link to="/dashboard">
          <a-icon type="dashboard" />
          <span>Dashboard</span>
        </router-link>
      </a-menu-item>
      <a-menu-item id="menu_courses" key="2" v-if="checkRole(['Mentor'])">
        <router-link to="/courses">
          <a-icon type="book" />
          <span>Courses</span>
        </router-link>
      </a-menu-item>
      <a-menu-item id="menu_course" key="3" v-if="checkRole(['Intern'])">
        <router-link to="/course">
          <a-icon type="book" />
          <span>Courses</span>
        </router-link>
      </a-menu-item>
      <a-sub-menu key="4" v-if="checkRole(['Super Admin', 'Mentor'])">
        <span slot="title"><a-icon type="build" /><span>Manage Courses</span></span>
        <a-menu-item id="menu_manage-courses" key="5">
          <router-link to="/manage-courses">manage courses</router-link>
        </a-menu-item>
        <a-menu-item id="menu_new-course" key="6">
          <router-link to="/new-course">new course</router-link>
        </a-menu-item>
      </a-sub-menu>
      <a-menu-item id="menu_manage-index" key="7" v-if="checkRole(['Super Admin'])">
        <router-link to="/manage-index">
          <a-icon type="ordered-list" />
          <span>Manage Index</span>
        </router-link>
      </a-menu-item>
      <a-menu-item id="menu_reports" key="8" v-if="checkRole(['Intern'])">
        <router-link to="/reports">
          <a-icon type="form" />
          <span>Daily Reports</span>
        </router-link>
      </a-menu-item>
      <a-menu-item id="menu_list-reports" key="9" v-if="checkRole(['Mentor'])">
        <router-link to="/list-reports">
          <a-icon type="form" />
          <span>Daily Reports</span>
        </router-link>
      </a-menu-item>

      <a-sub-menu key="10" v-if="checkRole(['Super Admin'])">
        <span slot="title"><a-icon type="team" /><span>Manage Accounts</span></span>
        <!-- <a-menu-item key="6">
          <router-link to="manage-intern">Intern</router-link>
        </a-menu-item>
        <a-menu-item key="7">
          <router-link to="manage-mentor">Mentor</router-link>
        </a-menu-item> -->
        <a-menu-item id="menu_new-account" key="11">
          <router-link to="/new-account">Create Account</router-link>
        </a-menu-item>
        <a-menu-item id="menu_assign" key="12">
          <router-link to="/assign">Assign</router-link>
        </a-menu-item>
      </a-sub-menu>
    </a-menu>
  </a-layout-sider>

  <a-layout>
    <a-layout-header id="header" >
      <a-icon
        class="trigger"
        :type="collapsed ? 'menu-unfold' : 'menu-fold'"
        @click="() => (collapsed = !collapsed)"
      />
      <div class="menu-top">
        <a-menu mode="horizontal">
          <a-menu-item key="mail" @click="visibleDrawer = true"> 
              <span class="icon-profile ant-avatar ant-avatar-circle ant-avatar-image">
                <img :src="user.avatar">
              </span>
          </a-menu-item>
        </a-menu>
      </div>
    </a-layout-header>
    <a-layout-content  id="layout-content" >
      <router-view />
    </a-layout-content>
  </a-layout>
  <a-drawer
    title="MY ACCOUNT"
    :placement="'right'"
    :closable="true"
    :visible="visibleDrawer"
    width="350"
    @close="visibleDrawer = false"
    id="side-right"
  >
    <a-row style="position: unset;">
      <a-col :span="8">
        <span class="ant-avatar ant-avatar-square ant-avatar-icon" style="width: 90px; height: 90px; line-height: 90px; font-size: 32px;">
          <img :src="user.avatar">
        </span>
      </a-col>
      <a-col :span="16">
        <h4 class="ant-typography h4 m-0 txt-over">{{ user.lastName}} {{ user.firstname }}</h4>
        <span class="ant-typography txt-over ant-typography-secondary">{{ user.email }}</span>
        <edit-account></edit-account>
      </a-col>
      <br />
      <a-col :span="24">
        
      </a-col>
      <a-col id="sign_out" :span="24">
        <a href="javascript:;" class="logout" @click="handleSignOut()">LOGOUT</a>
      </a-col>
    </a-row>
  </a-drawer>
</a-layout>