.new_report {
  .title {
    margin: 12px 12px 30px 12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #001529;
    text-align: center;
    span {
      display: inline-block;
      position: relative;
      &::before, &::after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #001529;
        border-top: 1px solid #001529;
        top: 12px;
        width: 200px;
      }
      &::before {
        right: 100%;
        margin-right: 15px;
      }
      &::after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }
  .date_picker, .select_report_day {
    width: 100%;
    max-width: 300px;
  }
}
