<div class="new_report">
  <div class="title">
    <span>New Report</span>
  </div>
  <a-form-model :model="formNewReport" :label-col="labelCol" :wrapper-col="wrapperCol">
    <a-form-model-item label="Date">
      <a-date-picker 
        class="date_picker" 
        type="date" placeholder="Pick a date" 
        :disabled-date="disabledDate"
        v-model="form.date"/>
    </a-form-model-item>

    <a-form-model-item label="Mentor">
      <a-select class="select_report_day" v-model="form.mentorId">

        <a-select-option class="item-report" v-for="(mentor, index) in listMentors" :value="mentor.id" :key="index">
          {{ mentor.firstname }} {{ mentor.lastName }}
        </a-select-option>
      </a-select>
    </a-form-model-item>

    <a-form-model-item label="Report">
      <a-textarea v-model="form.reportContent" placeholder="Write your report here"
        :auto-size="{ minRows: 10, maxRows: 15 }" />
    </a-form-model-item>

    <a-form-model-item :wrapper-col="{ span: 18, offset: 4 }">
      <a-button :disabled="isLoading" type="primary" @click="handleNewReport">
        Submit
      </a-button>
    </a-form-model-item>
  </a-form-model>
</div>