<div class="course_detail">
  <div class="tree">
    <Tree :value="Course.dayLearning" edgeScroll>
      <span slot-scope="{node, index, path, tree}">
        <div v-if="path.length == 1" class="day" 
          v-bind:class="{ active: (indexCurrDay === index && currPath.length === 1) }" 
          @click="clickDay({index, path})" >
          <b @click="tree.toggleFold(node, path)">
            <b v-if="node.$folded"><a-icon type="caret-right" /></b>
            <b v-else><a-icon type="caret-down" /></b>
          </b>
          Day {{ index + 1 }}
        </div>
        <div v-else-if="path.length == 2" class="lession" 
          v-bind:class="{ active: (indexLession === index && currPath.length === 2 && indexCurrDay === path[0]) }" 
          @click="clickLession({index, path})" >
          Lession {{ index + 1 }}
        </div>
      </span>
    </Tree>
  </div>

  <div class="right-handside">
    <div v-if="currPath.length == 1">
      <day
        :Course="Course"
        :DayLearning="ObjectView"
        :DataX="DataX"
      ></day>
    </div>
    <div v-else-if="currPath.length == 2">
      <lession
        :Course="Course"
        :Lession="ObjectView"
        :DataX="DataX"
      ></lession>
    </div>
  </div>
</div>