<div class="question">
  <div class="path">
    <a class="title">Path: </a>
    <a class="path-element" @click="$emit('clickDay', {index: indexCurrDay, path: currPath.slice(0, 1)})">Day {{ indexCurrDay + 1 }} </a>
    /
    <a class="path-element" @click="$emit('clickLession', {index: indexCurrDay, path: currPath.slice(0, 2)})"> Lession {{ indexLession + 1 }}</a>
    /
    <a class="path-current"> Question {{ indexQuestion + 1 }}</a>
  </div>

  <a-form-item label="Question">
    <ckeditor v-model="question.name"></ckeditor>
  </a-form-item>
  <a-form-item label="Type of question">
    <a-select class="typeQuestion" v-model="question.type">
      <a-select-option v-for="(key, index) in enumType" :key="index" @click="typeOfQuestion(index)">
        {{ key }}
      </a-select-option>
    </a-select>
  </a-form-item>
  <a-form-item label="Score">
    <a-input v-model="question.score"></a-input>
  </a-form-item>

  <answer v-if="question.type == 2"
    :answers="question.answers"
    :question="question"
    @removeAnswer="removeAnswer"
  ></answer>

  <div class="handle">
    <div v-if="lession.children.length > 1" class="remove">
      <button @click="$emit('removeQuestion', question)">
        Remove Question
      </button>
    </div>
    <div v-if="question.type == 2" class="add-more">
      <button class="add" @click="addAnswer">
        Add Answer
      </button>
    </div>
  </div>
</div>