.courses_intern {
  width: 100%;
  left: 0;
  .block-content {
    background-color: #ffffff;
    border-radius: 6px;
    border: 0.1px solid #1890ff;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
  }

  .title {
    margin: 12px 12px 30px 12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: coral;
    text-align: center;
    span {
      display: inline-block;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid coral;
        border-top: 1px solid coral;
        top: 12px;
        width: 200px;
      }
      &::before {
        right: 100%;
        margin-right: 15px;
      }
      &::after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }
  .choose_subject {
    .title_subject {
      color: #000000;
      font-weight: bold;
      margin-right: 24px;
    }
    .subject {
      width: 300px;
    }
  }

  .course {
    margin-top: 24px;
    .ant-tabs-tab {
      text-transform: capitalize;
      font-weight: 500;
      color: #000000;
    }
  }
}
