<div class="courses_intern">
  <div class="block-content">
    <div class="title">
      <span>learn your course</span>
    </div>
    <div class="choose_subject">
      <label class="title_subject">Subject:</label>
      <a-select default-value="none" class="subject">
        <a-select-option value="none" selected disabled hidden>
          Select an Course first
        </a-select-option>
        <a-select-option class="item-subject" v-for="(subject, index) in dataHandle" :key="index" @click="clickSubject({subject,index})">
          {{ subject.name }}
        </a-select-option>
      </a-select>
    </div>
  </div>

  <div class="course block-content" v-if="checkShow">
    <a-tabs default-active-key="1">
      <a-tab-pane v-for="(course, index) in dataHandle[idSubject].courses" :key="index" :tab="`${course.title}`">
        <course-detail
          :Course='course.courseData'
          :DataX="DataX[index]"
        ></course-detail>
      </a-tab-pane>
    </a-tabs>
  </div>
</div>