<div class="course_quiz_mentor">
  <template>
      <div v-for="(question, index) in Quiz">
        <div class="question" v-if="question.type != 2">
          <div>
            <div class="block">
              <label>Question {{index+1}}: </label>
              <div class="content">{{ question.name }}</div>
            </div>
            <div class="block answer">
              <label>Intership's answer: </label>
              <div class="answer_item">
                <span>{{ question.answerIntern }}</span>
              </div>
            </div>
          </div>
          <div class="block score_test" v-if="question.type != 2">
            <!-- <label class="title">Score</label> -->
            <div class="content">
              <div class="max_score">Maximum score for this question:  <span>{{ question.score }}</span></div>
              <div class="item_index">
                <div class="lession-field">Score</div>
                <input type="number" :max="question.score" v-model="question.scoreValue" />
              </div>
            </div>
          </div>
        </div>

        <div class="warning" v-else>
          <label>** This Test doesn't have qustion ESSAY or KNOWLEDGE</label>
        </div>
      </div>

      <div v-if="check" style="display:flex; justify-content:center;">
        <a-button type="primary" @click="submit">
          Submit
        </a-button>
      </div>
  </template>
</div>