.list-course {
  margin-top: 24px;
  margin-left: 30px;
  padding: 0 30px;
  width: 80%;
  font-size: 14px;
  .list-item {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    .course-item {
      position: relative;
      width: 30%;
      margin: 0 10px 10px 10px;
      border: 0.5px solid #0015292f;
      border-radius: 5px;
      &:hover {
        border-color: #001529;
        color: #001529;
      }
      &.add-more {
        border: 0.5px solid #1890ff;
        color: #1890ff !important;
        font-weight: 500;
        background: linear-gradient(to right, #1890ff 50%, white 50%);
        background-size: 201% 100%;
        background-position: right bottom;
        transition: all .25s ease-out;
        i {
          font-size: 16px;
        }
        a {
          padding-left: 8px;
        }
        &:hover {
          color: white !important;
          background-position: left bottom;
          a {
            color: white !important;
          }
        }
      }
      .item {
        text-align: center;
        padding: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        position: relative;
      }
      i#icon-delete-course {
        position: absolute;
        right: 20px;    
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .25s ease-out;
        &:hover {
          color: red;
        }
      }
    }
  }
}