<div class="list-course">
  <div class="list-item">
    <div class="course-item" v-for="(course, index) in subject.courses">
      <div class="item" @click="editCourse({course, index}, $event)">
        <span>{{ course.title }}</span>
      </div>
      <a-icon id="icon-delete-course" type="delete" @click="deleteCourse({course, index})" />
    </div>
    <div class="course-item add-more">
      <div class="item">
        <a-icon type="plus" />
        <router-link to="new-course">Create New Course</router-link>
      </div>
    </div>
  </div>
</div>