.assign {
  .block {
    background-color: #ffffff;
    border-radius: 6px;
    border: 0.1px solid #1890ff;
    padding: 15px;
    margin-top: 16px;
    margin-bottom: 15px;
    position: relative;
  }
  .title {
    margin: 12px 12px 12px 12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: coral;
    text-align: center;
  }
  .field {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    &:first-child {
      margin-top: 16px;
    }
    .title {
      margin: unset;
      text-transform: none;
      font-size: 14px;
      text-align: left;
      width: 80px;
      color: black;
    }
    .slMem {
      width: 300px;
    }
  }
  .submit {
    text-transform: uppercase;
    padding: 6px 30px;
    min-height: 40px;
    background-color: cadetblue;
    border-color: cadetblue;
  }
}