<div class="assign">
  

  <a-form-model layout="inline">
    <div class="block">
      <div class="title">
        <span>assign course</span>
      </div>
      <a-row type="flex" justify="center" align="middle">
        <a-col :span="8">
          <div class="field">
            <label class="title">Mentee:</label>
            <a-select class="slMem"  v-model="form.mentorId">
              <a-select-option class="item-mem" v-for="(mentee, index) in listMentors" :value="mentee.id" :key="'Mentee' + index" >
                {{ mentee.firstname }} {{ mentee.lastName }}
              </a-select-option>
            </a-select>
          </div>

          <div class="field">
            <label class="title">Inter:</label>
            <a-select default-value="null" class="slMem" v-model="form.internId">
              <a-select-option class="item-mem" v-for="(mentee, index) in listMentees" :value="mentee.id" :key="index" >
                {{ mentee.firstname }} {{ mentee.lastName }}
              </a-select-option>
            </a-select>
          </div>
          
          <div class="field">
            <label class="title">Subject:</label>
            <a-select default-value="null" class="slMem" v-model="form.subjectId">
              <a-select-option class="item-mem" v-for="(subject, index) in listSubjects" :value="subject.id" :key="index" @click="clickSubject(subject)">
                {{ subject.name }}
              </a-select-option>
            </a-select>
          </div>
          
          <div class="field">
            <label class="title">Course:</label>
            <a-select class="slMem" v-model="form.coursesId">
              <a-select-option class="item-mem" v-for="(course, index) in listCourses" :value="course.id" :key="index">
                {{ course.title }}
              </a-select-option>
            </a-select>
          </div>
        </a-col>
        <a-col :span="6">
          <a-button class="submit" type="primary" html-type="submit" @click="handleSubmit()">
            assign
          </a-button>
        </a-col>
      </a-row>
    </div>
  </a-form-model>
</div>