<a-form id="edit_account" :form="form">
  <a @click="showModal">
    Your Profile
  </a>
  <a-modal v-model="visible" title="Edit Account" @ok="handleOk">
    <a-form-item label="First Name">
      <a-input v-model="user.firstname"/>
    </a-form-item>
    <a-form-item label="Last Name">
      <a-input v-model="user.lastName"/>
    </a-form-item>
    <a-form-item label="Email">{{ user.email }}</a-form-item>
    <a-form-item label="Role">{{ user.roleName }}</a-form-item>
    <a-form-item label="School">
      <a-input v-model="user.schoolName"/>
    </a-form-item>
    <a-form-item label="Phone Number">
      <a-input v-model="user.phone"/>
    </a-form-item>
    <a-form-item label="Birthday" >
      <a-date-picker v-model="user.birthday" :default-value="user.birthday" style="width: 280px" />
    </a-form-item>
    <a-form-item label="Avatar">
      <input type="file" @change="previewFiles" accept="image/*" />
    </a-form-item>
  </a-modal>
</a-form>
