.statistical {
  .basic-infomation {
    margin: 0 25px 25px 15px;
    .ant-col {
      text-transform: capitalize;
      font-size: 15px;
      span {
        font-weight: 500;
        text-transform: uppercase;
        color: #000000;
        padding-right: 8px;
      }
    }
  }
  .ant-table-thead {
    text-transform: capitalize;
  }
}

.statistical_detail.ant-modal-root {
  .ant-modal-body {
    .item {
      padding: 8px 0;
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.09);
      .title {
        color: #1890ff;
      }
    }
  }
  .ant-modal-footer {
    border-top: none !important;
  }
}
