<div class="statistical">
  <a-row class="basic-infomation">
    <a-col :span="4"><span>Subject: </span>{{ dataModel.subject }}</a-col>
    <a-col :span="4"><span>Course: </span>{{ dataModel.course }}</a-col>
  </a-row>
  <a-table id="table_statistical" :columns="columns" :data-source="dataModel.list_mentees" />
  
  <a-modal class="statistical_detail" v-model="visible" :title="mentee.isCompleted">
    <template slot="footer">
      <a-button key="back" @click="handleCancel">
        Close
      </a-button>
    </template>
    <div class="item">
      <a-row type="flex" justify="start" align="top">
        <a-col :span="7">
          <span class="title">Name:</span>
        </a-col>
        <a-col :span="17">
          <span>{{ mentee.name }}</span>
        </a-col>
      </a-row>
    </div>
    <div class="item">
      <a-row type="flex" justify="start" align="top">
        <a-col :span="7">
          <span class="title">Start Day:</span>
        </a-col>
        <a-col :span="17">
          <span>{{ mentee.start_day }}</span>
        </a-col>
      </a-row>
    </div>
    <div class="item">
      <a-row type="flex" justify="start" align="top">
        <a-col :span="7">
          <span class="title">progress:</span>
        </a-col>
        <a-col :span="17">
          <span>{{ mentee.progress }}</span>
        </a-col>
      </a-row>
    </div>
    <div class="item">
      <a-row type="flex" justify="start" align="top">
        <a-col :span="7">
          <span class="title">GPA:</span>
        </a-col>
        <a-col :span="17">
          <span>{{ mentee.gpa }}</span>
        </a-col>
      </a-row>
    </div>
    <div class="item">
      <a-row type="flex" justify="start" align="top">
        <a-col :span="7">
          <span class="title">Knowledge:</span>
        </a-col>
        <a-col :span="17">
          <span>{{ mentee.knowledge }}</span>
        </a-col>
      </a-row>
    </div>
    <div class="item">
      <a-row type="flex" justify="start" align="top">
        <a-col :span="7">
          <span class="title">Sub-Index:</span>
        </a-col>
        <a-col :span="17">
          <div class="item_index" v-for="(item, index) in mentee.subIndex">
            <a-row type="flex" justify="start" align="top">
              <a-col :span="8">
                <span>{{ item.name }} ({{ item.rate }}): </span>
              </a-col>
              <a-col :span="16">
                <span>{{ item.score }}</span>
              </a-col>
            </a-row>
          </div>
        </a-col>
      </a-row>
    </div>
    <div class="item">
      <a-row type="flex" justify="start" align="top">
        <a-col :span="7">
          <span class="title">Recommend Rate:</span>
        </a-col>
        <a-col :span="17">
          <span>{{ mentee.recommended }}</span>
        </a-col>
      </a-row>
    </div>
  </a-modal>
</div>