.answer {
  .eachAnswer {
    legend {
      font-size: 14px;
      line-height: 30px;
    }
  }
  .radio-block {
    display: flex;
    align-items: center;
    .eachRadio {
      display: flex;
      align-items: center;
      margin-right: 30px;
      input {
        margin-right: 4px;
      }
    }
  }
  .answer-info {
    display: flex;
    justify-content: space-between;
    .title {
      color: #1890ff;
    }
    .delete {
      margin-right: 30px;
      margin-bottom: 5px;
      height: 30px;
      padding: 0 8px;
      font-size: 12px;
      text-transform: capitalize;
    }
  }
}