<div class="answer">
  <fieldset class="eachAnswer" v-for="(item, index) in answers">
    <legend class="answer-info">
      <span class="title">Answer {{ (index + 10).toString(36).toUpperCase() }}:</span>
      <a-button v-if="answers.length > 2" class="delete" type="danger" @click="$emit('removeAnswer', item)">
        delete
      </a-button>
    </legend>
    <a-form-item label="Answer">
      <a-textarea v-model="item.answer" :auto-size="{ minRows: 2, maxRows: 6 }" placeholder="Enter the answer" />
    </a-form-item>
    <a-form-item label="Is Correct">
      <div class="radio-block">
        <div class="eachRadio">
          <input type="radio" :value="true" v-model="item.isCorrect" required>Correct
        </div>
        <div class="eachRadio">
          <input type="radio" :value="false" v-model="item.isCorrect" required>Incorrect
        </div>
      </div>
    </a-form-item>
  </fieldset>

</div>