.report_mentor {
  .title {
    margin: 12px 12px 30px 12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #001529;
    text-align: center;
    span {
      display: inline-block;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #001529;
        border-top: 1px solid #001529;
        top: 12px;
        width: 200px;
      }
      &::before {
        right: 100%;
        margin-right: 15px;
      }
      &::after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }

  .block {
    border: 0.5px solid lightblue;
    background-color: #ffffff;
    border-radius: 15px;
    border-top-left-radius: 0;
    padding: 16px;
    margin: 24px 0;
  }

  .border-report {
    border-radius: 6px;
    border: 0.1px solid lightblue;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    background-color: #ffffff;
  }

  .title_content, label {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    a {
      font-size: 10px;
      &:hover {
        cursor: unset;
      }
    }
  }

  .choose_report,
  .choose_mentee {
    margin-bottom: 25px;
    // position: relative;
    .select_report_day {
      width: 300px;
      margin-left: 25px;
    }
    .new_report {
      margin-left: 50px;
    }
  }

  .talk-bubble {
    margin: 10px 0 24px 0;
    display: inline-block;
    position: relative;
    width: 50%;
    min-width: 200px;
    max-width: 650px;
    height: auto;
    background-color: antiquewhite;

    &.tri-right.left-top:after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: -20px;
      right: auto;
      top: 0px;
      bottom: auto;
      border: 22px solid;
      border-color: antiquewhite transparent transparent transparent;
    }
    &.round {
      border-radius: 15px;
    }
    &.your_report {
      background-color: #74bcff;
      &.tri-right.left-top:after {
        border-color: #74bcff transparent transparent transparent;
      }
    }
    .talktext {
      padding: 1em;
      text-align: left;
      line-height: 1.5em;
    }
    .talktext p {
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
    }
  }

  .form-reply {
    display: flex;
    align-items: center;
    .new-reply {
      width: 60%;
      min-width: 300px;
      max-width: 750px;
    }
    button {
      margin-left: 30px;
    }
  }
}
.modal_report {
  .ant-modal {
    width: 40% !important;
    min-width: 520px !important;
    max-width: 750px !important;
  }
}
