<div class="report_mentor">
  <div class="title">
    <span>Reports</span>
  </div>
  <a-row class="block group-control">
    <a-col :span="10" class="choose_mentee">
      <label class="title_content">Mentee:</label>
      <a-select class="select_report_day" v-model="formReport.mentorId" @change="getReport">
        <a-select-option class="item-report" v-for="(mentee, index) in listInters" :value="mentee.id" :key="index">
          {{ mentee.firstname }} {{ mentee.lastName }}
        </a-select-option>
      </a-select>
    </a-col>
    <a-col :span="10" class="choose_report">
      <label class="title_content">Date:</label>
      <a-date-picker 
        class="date_picker" 
        type="date" 
        placeholder="Pick a date"
        :disabled-date="disabledDate"
        v-model="formReport.date"
        @change="getReport"
      />
    </a-col>
  </a-row>

  <div v-if="reportDetail" class="border-report">
    <a-row class="report_content">
      <a-col :span="2" class="title_content">Your Report:</a-col>
      <a-col :span="12" class="your_report talk-bubble tri-right left-top">
        <div class="talktext">
          <p>{{ reportDetail.reportContent }}</p>
        </div>
      </a-col>
    </a-row>
    <a-row class="report_content" v-if="reportDetail?.repReport">
      <a-col :span="3" class="title_content">{{ reportDetail.mentorId?.firstname }} {{ reportDetail.mentorId?.lastName }} <a>(Mentor)</a>:</a-col>
      <a-col :span="12" class="talk-bubble tri-right left-top round">
        <div class="talktext">
          <p>{{ reportDetail.repReport }}</p>
        </div>
      </a-col>
    </a-row>

    <a-form-model class="form-reply" v-if="!reportDetail.repReport">
      <a-form-model-item class="new-reply" label="Reply">
        <a-textarea
          v-model="repReport"
          placeholder="Write your report here"
          :auto-size="{ minRows: 4, maxRows: 10 }"
        />
      </a-form-model-item>
      <a-button key="submit" :disabled="isLoading" type="primary" @click="handleNewReply">
        Submit
      </a-button>
    </a-form-model>
  </div>
</div>