#create_account {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 12px 48px;
  border: 0.5px solid lightcoral;
  border-radius: 5px;
  .title {
    width: 50%;
    margin: 25px auto 30px auto;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: #1890ff;
    border-bottom: 0.5px solid;
  }
  .ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }
  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }
  .ant-form-item-label {
    line-height: 25px;
  }

  .submit_create {
    display: flex;
    justify-content: center;
    button {
      background-color: steelblue;
      border-color: steelblue;
      min-width: 100px;
      min-height: 40px;
    }
  }
}