<a-form id="create_account" :form="form" @submit="handleSubmit">
  <div class="title">create account</div>
  <a-row type="flex" justify="space-between">
    <a-col :span="11">
      <a-form-item label="First Name">
        <a-input v-decorator="[
                  'first-name',
                  {
                    rules: [{ required: true, message: 'Please input first name!' }],
                  },
                ]" />
      </a-form-item>
    </a-col>
    <a-col :span="11">
      <a-form-item label="Last Name">
        <a-input v-decorator="[
                  'last-name',
                  {
                    rules: [{ required: true, message: 'Please input last name!' }],
                  },
                ]" style="width: 100%" />
      </a-form-item>
    </a-col>
  </a-row>
  <a-row type="flex" justify="space-between">
    <a-col :span="6">
      <a-form-item label="Role">
        <a-select style="width: 280px"
          v-decorator="[
                'roleId',
                {
                  rules: [{ required: true, message: 'Role is required!' }],
                },
              ]" 
        >
          <a-select-option v-for="(item, index) in roles" :value="item.id" :key="index">
            {{ item.name }}
          </a-select-option>
        </a-select>
      </a-form-item>
    </a-col>
    <a-col :span="11">
      <a-form-item label="E-mail">
        <a-input readonly onfocus="this.removeAttribute('readonly');" v-decorator="[
              'email',
              {
                rules: [
                  {
                    type: 'email',
                    message: 'The input is not valid E-mail!',
                  },
                  {
                    required: true,
                    message: 'Please input E-mail!',
                  },
                ],
              },
            ]" />
      </a-form-item>
    </a-col>
  </a-row>
  <a-row type="flex" justify="space-between">
    <a-col :span="11">
      <a-form-item label="Password" has-feedback>
        <a-input v-decorator="[
              'password',
              {
                rules: [
                  {
                    required: true,
                    message: 'Please input password!',
                  },
                  {
                    validator: validateToNextPassword,
                  },
                ],
              },
            ]" type="password" />
      </a-form-item>
    </a-col>
    <a-col :span="11">
      <a-form-item label="Confirm Password" has-feedback>
        <a-input v-decorator="[
              'confirm',
              {
                rules: [
                  {
                    required: true,
                    message: 'Please confirm password!',
                  },
                  {
                    validator: compareToFirstPassword,
                  },
                ],
              },
            ]" type="password" @blur="handleConfirmBlur" />
      </a-form-item>
    </a-col>
  </a-row>
  <a-row v-if="FormDataType.role == 2">
    <a-col :span="11">
      <a-form-item label="School">
        <a-input v-decorator="[ 'schoolName']" />
      </a-form-item>
    </a-col>
  </a-row>
  <a-row v-else></a-row>
  <a-row>
    <a-col :span="11">
      <a-form-item label="Phone Number">
        <a-input v-decorator="[
                  'phone',
                  {
                    rules: [{ required: true, message: 'Please input phone number!' }],
                  },
                ]" />
      </a-form-item>
    </a-col>
  </a-row>
  <a-form-item label="Birthday">
    <a-date-picker :format="'DD/MM/YYYY'" style="width: 280px" v-decorator="[ 'birthday',
    {
      rules: [{required: true, message: 'Date Of Birth is required.'}],
    },
   ]" />
  </a-form-item>
  <a-form-item label="Avatar">
    <input type="file" @change="previewFiles" accept="image/*" />
  </a-form-item>
  <div class="submit_create">
    <a-button type="primary" html-type="submit" :disabled="isLoading">
      CREATE
    </a-button>
  </div>
</a-form>