.show_data_mentor {
  .right-handside {
    .block_parent {
      border: 0.5px solid #188fff2c;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 12px;
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }

      input[type="number"] {
        -moz-appearance: textfield; /* Firefox */
      }
    }
    .score_test {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-width: 500px;
      margin: auto;
      padding: 30px 0 0 0;
      .title {
        width: 100% !important;
        text-align: center;
        font-size: 140%;
        padding-bottom: 16px;
        color: #1890ff !important;
      }
      .content {
        .item_index {
          margin: auto;
          display: flex;
          justify-content: center;
          margin-bottom: 16px;
          div {
            width: 100px;
            line-height: 30px;
            font-weight: 500;
            color: #00587d;
          }
          div.lession-field {
            width: 64px;
          }
          input {
            width: 150px;
            border: 1px solid lightgray;
            height: 30px;
            padding: 5px;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
