<div class="course_day">
  <div v-if="DayLearning.challenge.status">
    <div class="block_parent">
      <div class="block">
        <label>Question: </label>
        <div class="content">{{ DayLearning.challenge.topic }}</div>
      </div>
      <div class="block answer">
        <label>Intership's answer: </label>
        <div class="answer_item">
          <span>{{ DayLearning.challenge.answerIntern }}</span>
        </div>
      </div>
    </div>

    <div class="block score_test">
      <label class="title">Score Sub-Index</label>
      <div class="content">
        <div class="item_index" v-for="item in DayLearning.challenge.subIndex">
          <div>{{ item.name }}</div>
          <input type="number" v-model="item.score" />
        </div>
      </div>
      <a-button type="primary" @click="submit">
        Submit
      </a-button>
    </div>
  </div>

  <div class="warning" v-else>
    <label>** This Day Learning doesn't have challenge</label>
  </div>
</div>