.manage-courses {
  position: relative;
  #list-subjects {
    width: 100%;
    left: 0;
  }
  .list-courses {
    width: 100%;
    display: none;
  }
  .title {
    margin: 12px 12px 30px 12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #001529;
    text-align: center;
    span {
      display: inline-block;
      position: relative;
      &::before, &::after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #001529;
        border-top: 1px solid #001529;
        top: 12px;
        width: 200px;
      }
      &::before {
        right: 100%;
        margin-right: 15px;
      }
      &::after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }
  .item_subject {
    margin: 12px;
    padding: 24px;
    border: 0.5px solid #1890ff;
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    transition: 0.25s;
    cursor: pointer;  
    &:hover {
      border: 2.5px solid #1890ff;
      padding: 22px;
      .subject-inf {
        color: #1890ff;
        .icon {
          transform: rotate(90deg);
          transition: 0.5s;
        }
      }
    }
    .subject-inf {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      transition: 0.05s;
      .icon {
        transition: 0.15s;
      }
      .name {
        #delete-subject {
          margin-right: 10px;
          transition: 0.25s;
          &:hover {
            color: red;
            transition: 0.25s;
          }
        }
      }
    }
  }
  .new-subject {
    margin: 12px 0 0 30px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: #1890ff;
    color: #ffffff;
    cursor: pointer;
    span {
      padding-left: 5px;
    }
  }
}
.ant-modal {
  .modal-subject {
    margin-bottom: 0;
    .ant-form-item-label {
      line-height: unset;
    }
    ul {
      margin-bottom: 0;
      line-height: 14px;
      font-size: 12px;
      color: red;
      li {
        list-style-type: none;
      }
    }
  }
  .ant-modal-header .ant-modal-title {
    color: #1890ff !important;
  }
  input {
    width: 100%;
    border: none;
    border-bottom: 0.5px solid #001529;
    border-radius: 0;
    &:focus {
      box-shadow: none;
      color: #1890ff;
    }
  }
}