<div class="manage-courses">
  <div id="list-subjects">
    <div class="title">
      <span>list subjects</span>
    </div>
    <div id="item_subject" class="item_subject" v-for="(subject, index) in Subject" @click="clickSubject({subject,index}, $event)"> <!-- v-for -->
      <div class="subject-inf">
        <div class="name">
          <a-icon type="delete" id="delete-subject" @click="deleteSubject({subject, index})" />
          <a-icon type="edit" id="delete-subject" @click="editSubject(subject)" />
          {{ subject.name }}
        </div>
        <a-icon class="icon" type="right" />
      </div>
      <list-courses v-if="indexCurrSubject == index" style="display: block;"
        :subject="currSubject"
        :indexCurrSubject="indexCurrSubject"
      ></list-courses>
    </div>
    <button class="new-subject" @click="showModal">
      <a-icon type="plus" />
      <span>new subject</span>
    </button>
    <form autocomplete="off" :model="objNewSubject">
      <a-modal v-model="visible" title="Create New Subject">
        <a-form-model-item class="modal-subject" label="Subject Name">
          <a-input v-model="objNewSubject.name" @input="objNewSubject.name = $event.target.value.toLowerCase()" placeholder="Please enter name Subject" />
          <ul v-if="errorsNewSubject.length != 0">
            <li>{{ errorsNewSubject[0] }}</li>
          </ul>
        </a-form-model-item>
        <template slot="footer">
          <a-button key="back" @click="handleCancel">
            Cancel
          </a-button>
          <a-button key="submit" type="primary" @click="checkNewSubject">
            Create
          </a-button>
        </template>
      </a-modal>

      <a-modal v-model="visibleEdit" title="Edit Subject">
        <a-form-model-item class="modal-subject" label="Subject Name">
          <a-input v-model="formEditSubject.name" placeholder="Please enter name Subject" />
        </a-form-model-item>
        <template slot="footer">
          <a-button key="back" @click="handleCancelEdit">
            Cancel
          </a-button>
          <a-button key="submit" type="primary" @click="editSubjectSubmit">
            Update
          </a-button>
        </template>
      </a-modal>
    </form>
  </div>
</div>