<div class="statistical">
  <a-row class="basic-infomation">
    <a-col :span="4"><span>Name: </span>{{ data.name }}</a-col>
    <a-col :span="4"><span>Subject: </span>{{ data.name_subject }}</a-col>
    <a-col :span="4"><span>Course: </span>{{ data.name_course }}</a-col>
    <a-col :span="4"><span>Start Day: </span>{{ data.start_day }}</a-col>
  </a-row>
  <a-row class="basic-infomation">
    <a-col :span="4"><span>Recommended: </span>{{ data.recommended }}</a-col>
    <a-col :span="4"><span>Progress Course: </span>{{ data.progress }}</a-col>
    <a-col :span="4"><span>Completion Rate: </span>{{ data.completion }}</a-col>
    <a-col :span="4"><span>GPA: </span>{{ data.gpa }}</a-col>
    <a-col :span="4"><span>Knowledge: </span>{{ data.knowledge }}</a-col>
  </a-row>
  <a-row class="basic-infomation">
    <a-col :span="4" v-for="(sub_index, index) in data.sub_indexs" :key='index'>
      <span>{{ sub_index.name }} <i>(sub-index)</i>: </span>{{ sub_index.score }}
    </a-col>
  </a-row>

  <a-table id="statistical_detail" :columns="columns" :data-source="data.course" :pagination="{ pageSize: 25 }" :scroll="{ y: 600 }" />
</div>