<div class="report_mentor dashboard">
  <div class="title">
    <span>DASHBOARD</span>
  </div>
  <div class="block">
    <h2 class="sub-title">YOUR TASK TODAY</h2>
    <div class="listReport">
      <ul>
        <li class="item-task" v-for="(it, index) in listReport" :key="index">
          {{ it }}
        </li>
      </ul>
    </div>
  </div>

  <div class="block statistical box-filter">
    <h2 class="sub-title">STATICTICAL</h2>
    <a-row class="group-control">
      <a-row class="group-control">
        <a-col :span="24" class="choose_mentee">
          <label class="title_content">Course:</label>
          <a-select class="select_report_day" v-model="form.coursesId" >
            <a-select-option class="item-report" v-for="(item, index) in listCourse" :value="item.id" :key="index" @click="changeCourse(item)">
              {{ item.title }}
            </a-select-option>
          </a-select>
        </a-col>
      </a-row>

      <a-col :span="24" class="choose_mentee">
        <label class="title_content">Subject:</label>
        <a-select class="select_report_day" v-model="form.subjectId">
          <a-select-option class="item-report" v-for="(item, index) in listSubject" :value="item.id" :key="index">
            {{ item.name }}
          </a-select-option>
        </a-select>
      </a-col>
    </a-row>
    <button class="new-subject" @click="redirectToPageStatic">
      <span>SHOW STATICTICAL</span>
    </button>
  </div>
</div>
