.manage-index {
  .title {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #000000;
  }

  .editable-cell {
    position: relative;
  }

  .editable-cell-input-wrapper,
  .editable-cell-text-wrapper {
    padding-right: 24px;
  }

  .editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px;
  }

  .editable-cell-icon,
  .editable-cell-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer;
  }

  .editable-cell-icon {
    line-height: 18px;
    display: none;
  }

  .editable-cell-icon-check {
    line-height: 28px;
  }

  .editable-cell:hover .editable-cell-icon {
    display: inline-block;
  }

  .editable-cell-icon:hover,
  .editable-cell-icon-check:hover {
    color: #108ee9;
  }

  .editable-add-btn {
    margin-bottom: 8px;
    padding: 8px 30px;
    height: fit-content;
    text-transform: uppercase;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
  }

  #warning-rate {
    margin: 30px;
  }

  .editable-row-operations {
    padding-bottom: 8px;
    .save {
      border-color: #52c41a;
      background-color: #f6ffed;
      color: #000000;
      &:hover {
        color: #52c41a;
      }
    }
    .cancel {
      border-color: #91d5ff;
      color: #000000;
    }
  }

  .edit:hover {
    text-decoration: underline;
  }

  .delete {
    color: #f5222d;
    &:hover {
      text-decoration: underline;
    }
  }

  .ant-table-header-column {
    text-transform: capitalize;
    text-align: center;
    width: 100%;
  }
}
