<div class="manage-index">
  <div class="title">manage index</div>
  <a-alert id="warning-rate" message="Total rate is currently less than 100%" banner />
  <a-button class="editable-add-btn" @click="handleAdd">
    New Sub-Index
  </a-button>
  <a-table :columns="columns" :data-source="dataList" bordered rowKey="id">
    <template
      v-for="col in ['name', 'description', 'rate']"
      :slot="col"
      slot-scope="text, record, index"
    >
      <div :key="record.id">
        <a-input
          v-if="record.editable"
          style="margin: -5px 0"
          :value="text"
          @change="e => handleChange(e.target.value, record.id, col)"
        />
        <template v-else>
          {{ text }}
        </template>
      </div>
    </template>
    <template slot="operation" slot-scope="text, record, index">
      <div class="editable-row-operations">
        <span v-if="record.editable">
          <a-button @click="() => save(record.id)" class="save">Save</a-button>
          <a-popconfirm title="Sure to cancel?" @confirm="() => cancel(record.id)">
            <a-button class="cancel">Cancel</a-button>
          </a-popconfirm>
        </span>
        <span v-else>
          <a class="edit" :disabled="editingKey !== ''" @click="() => edit(record.id)">Edit</a>
        </span>
      </div>
      <a-popconfirm
        v-if="dataList.length"
        title="Sure to delete?"
        @confirm="() => onDelete(record.id)"
      >
        <a href="javascript:;" class="delete">Delete</a>
      </a-popconfirm>
    </template>
  </a-table>
</div>