<div class="lession" v-if="currPath.length == 2">
  <div class="path">
    <a class="title">Path: </a>
    <a class="path-element" @click="$emit('clickDay', {index: indexCurrDay, path: currPath.slice(0, 1)} )">Day {{ indexCurrDay + 1 }} </a>
    /
    <a class="path-current"> Lession {{ indexLession + 1 }}</a>
  </div>
  <a-form-item label="Name">
    <a-input v-model="lession.name" placeholder="Please enter name lession" />
  </a-form-item>
  <a-form-item label="Content">
    <ckeditor v-model="lession.description"></ckeditor>
  </a-form-item>
  <a-form-item class="time-limit" label="Time Limit">
    <a-input v-model="lession.time" placeholder="Please enter time limit for this lession" /> <span class="unit">(minutes)</span>
  </a-form-item>
  
  <div class="handle">
    <div class="remove">
      <button v-if="isRemoveLession" @click="$emit('removeLession', lession)">
        Remove Lession {{ indexLession + 1 }}
      </button>
    </div>
    <div class="add-more">
      <button class="add" @click="$emit('addQuestion')">
        Add Question
      </button>
    </div>
  </div>
</div>

<div v-else>
  <question
    :currPath="currPath"
    :indexLession="indexLession"
    :lession="lession"
    :indexCurrDay="indexCurrDay"
    :indexQuestion="indexQuestion"
    :question="question"
    @clickDay="$emit('clickDay', $event)"
    @clickLession="$emit('clickLession', $event)"
    @addQuestion="$emit('addQuestion', $event)"
    @removeQuestion="$emit('removeQuestion', $event)"
  ></question>
</div>