<div class="course_day">
  <div class="warning">
    <label>** Please follow the knowledge mentioned in the description below</label>
  </div>
  <div class="block">
    <label>Topic: </label>
    <div class="content">{{ DayLearning.name }}</div>
  </div>
  <div class="block">
    <label>Description: </label>
    <div class="content">{{ DayLearning.description }}</div>
  </div>

  <div v-if="DayLearning.challenge.status">
    <a-button class="submit_button" type="primary" @click="showModal">
      Challenge
    </a-button>
    <a-modal v-model="visible" title="Challenge" @ok="handleOk">
      <template slot="footer">
        <a-button key="back" @click="handleCancel">
          Cancel
        </a-button>
        <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
          Submit
        </a-button>
      </template>
      <div>
        <div class="block">
          <label>Question: </label>
          <div class="content">{{ DayLearning.challenge.topic }}</div>
        </div>
        <div class="answer">
          <label>Your answer: </label>
          <div class="answer_item">
            <a-textarea v-model="DayLearning.challenge.answerIntern" :auto-size="{ minRows: 3, maxRows: 5 }"></a-textarea>
          </div>
        </div>
      </div>
    </a-modal>
  </div>
</div>